{
  "swagger": "2.0",
  "info": {
    "version": "2",
    "title": "Scribe Swagger API"
  },
  "host": "api.scribesoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/orgs/{orgId}/agents": {
      "get": {
        "description": "Return a list of Agents",
        "summary": "Agents_GetAgents",
        "tags": [
          "Agents"
        ],
        "operationId": "V1OrgsAgentsByOrgIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "connectorId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ID of a Connector installed in an Agent."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Name of an Agent."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The number of Agents to skip before returning results. Default value is 0."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of Agents. Default value is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AgentModel"
              }
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/agents/{agentId}/logs": {
      "post": {
        "description": "Capture Agent Logs",
        "summary": "Agents_CaptureAgentLogs",
        "tags": [
          "Agents"
        ],
        "operationId": "V1OrgsAgentsLogsByOrgIdAndAgentIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Agent."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/agents/{agentId}/logs/{logId}": {
      "get": {
        "description": "Return Agent Logs",
        "summary": "Agents_GetAgentLogs",
        "tags": [
          "Agents"
        ],
        "operationId": "V1OrgsAgentsLogsLogIdByOrgIdAndAgentIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Agent."
          },
          {
            "name": "logId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the log request."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/agents/{agentId}/restart": {
      "post": {
        "description": "Restart an Agent",
        "summary": "Agents_RestartAgent",
        "tags": [
          "Agents"
        ],
        "operationId": "V1OrgsAgentsRestartByOrgIdAndAgentIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Agent."
          },
          {
            "name": "restartNow",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Set to true to restart now, interrupting running Solutions or false to wait until Solutions finish. Default is false."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/agents/{id}": {
      "get": {
        "description": "Return information about an Agent",
        "summary": "Agents_GetAgent",
        "tags": [
          "Agents"
        ],
        "operationId": "V1OrgsAgentsByOrgIdAndIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Agent."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AgentModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "put": {
        "description": "Modify an Agent",
        "summary": "Agents_UpdateAgent",
        "tags": [
          "Agents"
        ],
        "operationId": "V1OrgsAgentsByOrgIdAndIdPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Agent."
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "description": "Model for the Agent.\r\n                Required: Name",
            "schema": {
              "$ref": "#/definitions/AgentModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AgentModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete an Agent",
        "summary": "Agents_DeleteAgent",
        "tags": [
          "Agents"
        ],
        "operationId": "V1OrgsAgentsByOrgIdAndIdDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Agent."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/agents/provision_cloud_agent": {
      "post": {
        "description": "Provision a Cloud Agent",
        "summary": "Agents_ProvisionCloudAgent",
        "tags": [
          "Agents"
        ],
        "operationId": "V1OrgsAgentsProvisionCloudAgentByOrgIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/agents/provision_onpremise_agent": {
      "post": {
        "description": "Return installation information for an On-Premise Agent",
        "summary": "Agents_ProvisionOnPremiseAgent",
        "tags": [
          "Agents"
        ],
        "operationId": "V1OrgsAgentsProvisionOnpremiseAgentByOrgIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProvisionOnPremiseAgentModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/solutions/{solutionId}/commands/start": {
      "post": {
        "description": "Start a Solution (deprecated)",
        "summary": "Commands_Start",
        "tags": [
          "Commands"
        ],
        "operationId": "V1OrgsSolutionsCommandsStartByOrgIdAndSolutionIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "solutionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Solution."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/solutions/{solutionId}/commands/stop": {
      "post": {
        "description": "Stop a Solution (deprecated)",
        "summary": "Commands_Stop",
        "tags": [
          "Commands"
        ],
        "operationId": "V1OrgsSolutionsCommandsStopByOrgIdAndSolutionIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "solutionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Solution."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connections": {
      "get": {
        "description": "Return a list of supported Connections",
        "summary": "Connections_GetConnections",
        "tags": [
          "Connections"
        ],
        "operationId": "V1OrgsConnectionsByOrgIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Name of the Connection."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of Connections to skip before returning results. Default value is 0."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of Connections. Default value is 100."
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Setting to return Connection properties. Default value is true."
          },
          {
            "name": "agentId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter for Connections supported by this Agent."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ConnectionModel"
              }
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Create a Connection",
        "summary": "Connections_CreateConnection",
        "tags": [
          "Connections"
        ],
        "operationId": "V1OrgsConnectionsByOrgIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "description": "Model for the Connection.\r\n                Required: Name, ConnectorId, and Color (in hexadecimal ARGB format)",
            "schema": {
              "$ref": "#/definitions/ConnectionModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConnectionModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connections/{connectionId}": {
      "get": {
        "description": "Return information about a Connection",
        "summary": "Connections_GetConnection",
        "tags": [
          "Connections"
        ],
        "operationId": "V1OrgsConnectionsByOrgIdAndConnectionIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connection."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConnectionModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "put": {
        "description": "Modify a Connection",
        "summary": "Connections_UpdateConnection",
        "tags": [
          "Connections"
        ],
        "operationId": "V1OrgsConnectionsByOrgIdAndConnectionIdPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connection."
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "description": "Model for the Connection.",
            "schema": {
              "$ref": "#/definitions/ConnectionModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConnectionModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete a Connection",
        "summary": "Connections_DeleteConnection",
        "tags": [
          "Connections"
        ],
        "operationId": "V1OrgsConnectionsByOrgIdAndConnectionIdDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connection."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connections/{connectionId}/actions": {
      "get": {
        "description": "Return a list of Actions for a Connection",
        "summary": "Connections_GetConnectionActions",
        "tags": [
          "Connections"
        ],
        "operationId": "V1OrgsConnectionsActionsByOrgIdAndConnectionIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connection."
          },
          {
            "name": "agentId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ID of the Agent to request Actions from if not found."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of Actions to skip before returning results. Default value is 0."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of Actions. Default value is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionModel"
              }
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connections/{connectionId}/entities": {
      "get": {
        "description": "Return a list of Entities for a Connection",
        "summary": "Connections_GetEntitiesForConnection",
        "tags": [
          "Connections"
        ],
        "operationId": "V1OrgsConnectionsEntitiesByOrgIdAndConnectionIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connection."
          },
          {
            "name": "agentId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ID of the Agent to load the metadata, if necessary."
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Return the Actions with the Entity. Default is false."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of Entities to skip before returning results. Default value is 0."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of Entities. Default value is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EntityModel"
              }
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connections/{connectionId}/entities/{entityIdOrName}": {
      "get": {
        "description": "Return information about an Entity",
        "summary": "Connections_GetEntity",
        "tags": [
          "Connections"
        ],
        "operationId": "V1OrgsConnectionsEntitiesEntityIdOrNameByOrgIdAndConnectionIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connection."
          },
          {
            "name": "entityIdOrName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID or name of the Entity."
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Include Actions for this Entity.  Default is false."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/EntityModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connections/{connectionId}/entities/{entityIdOrName}/fields": {
      "get": {
        "description": "Return a list of Fields for an Entity",
        "summary": "Connections_GetEntityFields",
        "tags": [
          "Connections"
        ],
        "operationId": "V1OrgsConnectionsEntitiesEntityIdOrNameFieldsByOrgIdAndConnectionIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connection."
          },
          {
            "name": "entityIdOrName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID or name of the Entity."
          },
          {
            "name": "agentId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ID of the Agent to load the metadata, if necessary."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of Fields to skip before returning results. Default value is 0."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of Fields. Default value is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PropertyModel"
              }
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connections/{connectionId}/entities/{entityIdOrName}/relationships": {
      "get": {
        "description": "Return a list of Relationships for an Entity",
        "summary": "Connections_GetEntityRelationships",
        "tags": [
          "Connections"
        ],
        "operationId": "V1OrgsConnectionsEntitiesEntityIdOrNameRelationshipsByOrgIdAndConnectionIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connection."
          },
          {
            "name": "entityIdOrName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID or name of the Entity."
          },
          {
            "name": "agentId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ID of the Agent to load the metadata, if necessary."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of Relationships to skip before returning results. Default value is 0."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of Relationships. Default value is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RelationshipModel"
              }
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connections/{connectionId}/entitynames": {
      "get": {
        "description": "Return a list of Entity names for a Connection",
        "summary": "Connections_GetEntityNamesForConnection",
        "tags": [
          "Connections"
        ],
        "operationId": "V1OrgsConnectionsEntitynamesByOrgIdAndConnectionIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connection."
          },
          {
            "name": "agentId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ID of the Agent to load the metadata, if necessary."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of Entity names to skip before returning results. Default value is 0."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of Entity names. Default value is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connections/{connectionId}/reset": {
      "post": {
        "description": "Reset the metadata for a Connection",
        "summary": "Connections_ResetMetadata",
        "tags": [
          "Connections"
        ],
        "operationId": "V1OrgsConnectionsResetByOrgIdAndConnectionIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connection."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connections/{connectionId}/supportedactions": {
      "get": {
        "description": "Return a list of supported Actions for a Connection",
        "summary": "Connections_GetConnectionSupportedOperationsByCategory",
        "tags": [
          "Connections"
        ],
        "operationId": "V1OrgsConnectionsSupportedactionsByOrgIdAndConnectionIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connection."
          },
          {
            "name": "mapType",
            "in": "query",
            "required": true,
            "enum": [
              "ReplicationServicesMap",
              "IntegrationServicesBasicMap",
              "IntegrationServicesAdvancedMap",
              "IntegrationServicesAdvancedRequestResponseMap",
              "IntegrationServicesAdvancedMessageMap",
              "IntegrationServicesSysControllerMap"
            ],
            "x-enum-elements": [
              {
                "name": "ReplicationServicesMap",
                "description": ""
              },
              {
                "name": "IntegrationServicesBasicMap",
                "description": ""
              },
              {
                "name": "IntegrationServicesAdvancedMap",
                "description": ""
              },
              {
                "name": "IntegrationServicesAdvancedRequestResponseMap",
                "description": ""
              },
              {
                "name": "IntegrationServicesAdvancedMessageMap",
                "description": ""
              },
              {
                "name": "IntegrationServicesSysControllerMap",
                "description": ""
              }
            ],
            "type": "string",
            "description": "Map type."
          },
          {
            "name": "agentId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ID of the Agent to load the metadata, if necessary."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OperationModel"
              }
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connections/{connectionId}/test": {
      "post": {
        "description": "Test an existing Connection",
        "summary": "Connections_Test",
        "tags": [
          "Connections"
        ],
        "operationId": "V1OrgsConnectionsTestByOrgIdAndConnectionIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connection."
          },
          {
            "name": "agentId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "ID of the Agent."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CommandModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connections/test": {
      "post": {
        "description": "Test Connection properties",
        "summary": "Connections_Test",
        "tags": [
          "Connections"
        ],
        "operationId": "V1OrgsConnectionsTestByOrgIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "agentId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "ID of the Agent."
          },
          {
            "name": "connectionModel",
            "in": "body",
            "required": true,
            "description": "Model of the unsaved Connection being tested. Id is not required.",
            "schema": {
              "$ref": "#/definitions/ConnectionModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CommandModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connections/test/{commandId}": {
      "get": {
        "description": "Return the status of a Connection test command",
        "summary": "Connections_Test",
        "tags": [
          "Connections"
        ],
        "operationId": "V1OrgsConnectionsTestByOrgIdAndCommandIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "commandId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the command returned by a Connection's POST Test call."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExtendedCommandModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connectors": {
      "get": {
        "description": "Return a list of Connectors",
        "summary": "Connectors_GetByOrg",
        "tags": [
          "Connectors"
        ],
        "operationId": "V1OrgsConnectorsByOrgIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Name of the Connector."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of Connectors to skip before returning results. Default value is 0."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of Connectors. Default value is 100."
          },
          {
            "name": "AgentId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter for installed Connectors supported by this Agent."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ConnectorModel"
              }
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connectors/{connectorId}/preconnect": {
      "post": {
        "description": "Setup call for a Connection to be created",
        "summary": "Connectors_Preconnect",
        "tags": [
          "Connectors"
        ],
        "operationId": "V1OrgsConnectorsPreconnectByOrgIdAndConnectorIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connection."
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "Model for the properties the Connector uses for preconnect.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/KeyValueModel"
              }
            }
          },
          {
            "name": "agentId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ID of the Agent to use."
          },
          {
            "name": "isOauth",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "For hybrid UI, change to support OAuth."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CommandModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connectors/{connectorId}/preconnect/{commandId}": {
      "get": {
        "description": "Return the status of a preconnect command",
        "summary": "Connectors_GetPreconnectResults",
        "tags": [
          "Connectors"
        ],
        "operationId": "V1OrgsConnectorsPreconnectCommandIdByOrgIdAndConnectorIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connector."
          },
          {
            "name": "commandId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the command returned by a Connection's POST Test call."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CommandModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connectors/{connectorId}/version": {
      "get": {
        "description": "Return version information for a Connector.",
        "summary": "Connectors_GetConnectorVersion",
        "tags": [
          "Connectors"
        ],
        "operationId": "V1OrgsConnectorsVersionByOrgIdAndConnectorIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connector."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConnectorUpdatesModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "put": {
        "description": "Modify Connector version Locked/Unlocked state",
        "summary": "Connectors_UpdateConnectorVersion",
        "tags": [
          "Connectors"
        ],
        "operationId": "V1OrgsConnectorsVersionByOrgIdAndConnectorIdPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connector."
          },
          {
            "name": "updateVersion",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Version of the connector to lock/unlock."
          },
          {
            "name": "isLocked",
            "in": "query",
            "required": true,
            "type": "boolean",
            "description": "Set to true to lock or false to unlock."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connectors/{id}": {
      "get": {
        "description": "Return information about a Connector",
        "summary": "Connectors_InstGetById",
        "tags": [
          "Connectors"
        ],
        "operationId": "V1OrgsConnectorsByOrgIdAndIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connector."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConnectorModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connectors/{id}/delete": {
      "delete": {
        "description": "Uninstall a Marketplace Connector from all Agents",
        "summary": "Connectors_UninstallConnector",
        "tags": [
          "Connectors"
        ],
        "operationId": "V1OrgsConnectorsDeleteByOrgIdAndIdDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connector."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connectors/{id}/install": {
      "post": {
        "description": "Install a Connector to all Agents",
        "summary": "Connectors_InstallConnector",
        "tags": [
          "Connectors"
        ],
        "operationId": "V1OrgsConnectorsInstallByOrgIdAndIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connector."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/connectors/{id}/uioptions": {
      "get": {
        "description": "Return UI options for a Connector",
        "summary": "Connectors_getConnectoruioptions",
        "tags": [
          "Connectors"
        ],
        "operationId": "V1OrgsConnectorsUioptionsByOrgIdAndIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Connector."
          },
          {
            "name": "agentId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return the UI from this Agent."
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Version of the Connector to return, if not the latest."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConnectorUIModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/managedconnectors/{connectorId}/customers": {
      "get": {
        "description": "Return a list of Customer Organizations with access to a Managed Connector",
        "summary": "Customers_GetConnectorCustomers",
        "tags": [
          "Customers"
        ],
        "operationId": "V1OrgsManagedconnectorsCustomersByOrgIdAndConnectorIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Managing Organization."
          },
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Managed Connector."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of Customer Organizations to skip before returning results. Default value is 0."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of Customer Organizations. Default value is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConnectorCustomerModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/managedconnectors/{connectorId}/customers/{id}": {
      "post": {
        "description": "Grant a Customer Organization access to a Managed Connector",
        "summary": "Customers_AddCustomer",
        "tags": [
          "Customers"
        ],
        "operationId": "V1OrgsManagedconnectorsCustomersIdByOrgIdAndConnectorIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Managing Organization."
          },
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Managed Connector."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Customer Organization."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ConnectorCustomerModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete a Customer Organization's access to a Managed Connector",
        "summary": "Customers_RemoveCustomer",
        "tags": [
          "Customers"
        ],
        "operationId": "V1OrgsManagedconnectorsCustomersIdByOrgIdAndConnectorIdDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Managing Organization."
          },
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Managed Connector."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Customer Organization."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/solutions/{solutionId}/history/{historyId}/errors": {
      "get": {
        "description": "Return a list of Errors from a Solution execution",
        "summary": "Errors_GetErrors",
        "tags": [
          "Errors"
        ],
        "operationId": "V1OrgsSolutionsHistoryHistoryIdErrorsByOrgIdAndSolutionIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "solutionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Solution."
          },
          {
            "name": "historyId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "ID of the Solution execution."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of Errors to skip before returning results. Default value is 0."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of Errors. Default value is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExecutionHistoryErrorModel"
              }
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/solutions/{solutionId}/history/{historyId}/errors/{id}": {
      "get": {
        "description": "Return information about an Error from a Solution execution",
        "summary": "Errors_GetError",
        "tags": [
          "Errors"
        ],
        "operationId": "V1OrgsSolutionsHistoryHistoryIdErrorsIdByOrgIdAndSolutionIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "solutionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Solution."
          },
          {
            "name": "historyId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Solution execution."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Error."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExecutionHistoryErrorModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/solutions/{solutionId}/history/{historyId}/errors/{id}/mark": {
      "post": {
        "description": "Mark an Error from a Solution execution for reprocessing",
        "summary": "Errors_MarkForReprocess",
        "tags": [
          "Errors"
        ],
        "operationId": "V1OrgsSolutionsHistoryHistoryIdErrorsIdMarkByOrgIdAndSolutionIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "solutionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Solution."
          },
          {
            "name": "historyId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "ID of the Solution execution."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Error."
          },
          {
            "name": "mark",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Set or clear the reprocess flag for failed records. Default is true."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/solutions/{solutionId}/history/{historyId}/failedrecords/{id}": {
      "get": {
        "description": "Return information about the failed source record for an Error from a Solution execution",
        "summary": "FailedRecords_GetFailedRecords",
        "tags": [
          "FailedRecords"
        ],
        "operationId": "V1OrgsSolutionsHistoryHistoryIdFailedrecordsIdByOrgIdAndSolutionIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "solutionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Solution."
          },
          {
            "name": "historyId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "ID of the Solution execution."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Error."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FailedRecord"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/solutions/{solutionId}/history": {
      "get": {
        "description": "Return a list of Solution executions",
        "summary": "History_GetHistory",
        "tags": [
          "History"
        ],
        "operationId": "V1OrgsSolutionsHistoryByOrgIdAndSolutionIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "solutionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Solution."
          },
          {
            "name": "laterThanDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter for Solution executions for this date and later."
          },
          {
            "name": "result",
            "in": "query",
            "required": false,
            "enum": [
              "CompletedSuccessfully",
              "FatalError",
              "CompletedWithErrors",
              "InProgress",
              "RecordErrorsAndFatalErrors"
            ],
            "x-enum-elements": [
              {
                "name": "CompletedSuccessfully",
                "description": ""
              },
              {
                "name": "FatalError",
                "description": ""
              },
              {
                "name": "CompletedWithErrors",
                "description": ""
              },
              {
                "name": "InProgress",
                "description": ""
              },
              {
                "name": "RecordErrorsAndFatalErrors",
                "description": ""
              }
            ],
            "type": "string",
            "description": "Filter based on the result of the execution."
          },
          {
            "name": "executionHistoryColumnSort",
            "in": "query",
            "required": false,
            "enum": [
              "Start",
              "Result",
              "RecordsProcessed",
              "RecordsFailed"
            ],
            "x-enum-elements": [
              {
                "name": "Start",
                "description": ""
              },
              {
                "name": "Result",
                "description": ""
              },
              {
                "name": "RecordsProcessed",
                "description": ""
              },
              {
                "name": "RecordsFailed",
                "description": ""
              }
            ],
            "type": "string",
            "description": "Sort returned data set by selected item."
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "enum": [
              "asc",
              "desc"
            ],
            "x-enum-elements": [
              {
                "name": "asc",
                "description": ""
              },
              {
                "name": "desc",
                "description": ""
              }
            ],
            "type": "string",
            "description": "Sort ascending or descending. Default is ascending."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of Solution executions to skip before returning results. Default value is 0."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of Solution executions. Default value is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExecutionHistoryModel"
              }
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/solutions/{solutionId}/history/{id}": {
      "get": {
        "description": "Return information about a Solution execution",
        "summary": "History_GetHistory",
        "tags": [
          "History"
        ],
        "operationId": "V1OrgsSolutionsHistoryIdByOrgIdAndSolutionIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "solutionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Solution."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "ID of the Solution execution."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExecutionHistoryModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/solutions/{solutionId}/history/{id}/export": {
      "post": {
        "description": "Export Execution History for a Solution execution",
        "summary": "History_ExportHistory",
        "tags": [
          "History"
        ],
        "operationId": "V1OrgsSolutionsHistoryIdExportByOrgIdAndSolutionIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "solutionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Solution."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "ID of the Solution execution."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/solutions/{solutionId}/history/{id}/export/{exportId}": {
      "get": {
        "description": "Return exported Execution History",
        "summary": "History_RetrieveExportedHistory",
        "tags": [
          "History"
        ],
        "operationId": "V1OrgsSolutionsHistoryIdExportExportIdByOrgIdAndSolutionIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "solutionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Solution."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "ID of the Solution execution."
          },
          {
            "name": "exportId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "ID of the export request."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/solutions/{solutionId}/history/{id}/mark": {
      "post": {
        "description": "Mark all Errors from a Solution execution for reprocessing",
        "summary": "History_MarkForReprocess",
        "tags": [
          "History"
        ],
        "operationId": "V1OrgsSolutionsHistoryIdMarkByOrgIdAndSolutionIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "solutionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Solution."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "ID of the Solution execution."
          },
          {
            "name": "mark",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Set or clear the reprocess flag for failed records. Default is true."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/solutions/{solutionId}/history/{id}/reprocess": {
      "post": {
        "description": "Reprocess all marked Errors from a Solution execution",
        "summary": "History_ReprocessHistory",
        "tags": [
          "History"
        ],
        "operationId": "V1OrgsSolutionsHistoryIdReprocessByOrgIdAndSolutionIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "solutionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Solution."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "ID of the Solution execution."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/solutions/{solutionId}/history/{id}/statistics": {
      "get": {
        "description": "Return statistics for a Solution execution",
        "summary": "History_GetHistoryStatistics",
        "tags": [
          "History"
        ],
        "operationId": "V1OrgsSolutionsHistoryIdStatisticsByOrgIdAndSolutionIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "solutionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Solution."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "ID of the Solution execution."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExecutionHistoryStatisticsModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/invitedusers": {
      "get": {
        "description": "Return a list of invited Users",
        "summary": "InvitedUsers_Get",
        "tags": [
          "InvitedUsers"
        ],
        "operationId": "V1OrgsInvitedusersByOrgIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InvitedUserModel"
              }
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Invite a User",
        "summary": "InvitedUsers_Post",
        "tags": [
          "InvitedUsers"
        ],
        "operationId": "V1OrgsInvitedusersByOrgIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "description": "Model for the invited User.\r\n                Required: Email, Status, and Role",
            "schema": {
              "$ref": "#/definitions/InvitedUserModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InvitedUserModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete an invited User",
        "summary": "InvitedUsers_Delete",
        "tags": [
          "InvitedUsers"
        ],
        "operationId": "V1OrgsInvitedusersByOrgIdDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Email of the invited User."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/invitedusers/{email}": {
      "get": {
        "description": "Return information about an invited User",
        "summary": "InvitedUsers_Get",
        "tags": [
          "InvitedUsers"
        ],
        "operationId": "V1OrgsInvitedusersByOrgIdAndEmailGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "email",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Email of the invited User."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InvitedUserModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "put": {
        "description": "Modify an invited User",
        "summary": "InvitedUsers_Put",
        "tags": [
          "InvitedUsers"
        ],
        "operationId": "V1OrgsInvitedusersByOrgIdAndEmailPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "email",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Email of the invited User."
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "description": "Model for the invited User. Required: Email, Status, and Role.",
            "schema": {
              "$ref": "#/definitions/InvitedUserModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InvitedUserModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/lookuptables": {
      "get": {
        "description": "Return a list of Lookup Tables",
        "summary": "LookupTables_GetLookupTables",
        "tags": [
          "LookupTables"
        ],
        "operationId": "V1OrgsLookuptablesByOrgIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "includeLookupTableValues",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Set to true to return Lookup Table Values.\r\n                Default value is false."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of Lookup Tables to skip before returning results. Default value is 0."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of Lookup Tables. Default value is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LookupTableModel"
              }
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Create a Lookup Table",
        "summary": "LookupTables_CreateLookupTable",
        "tags": [
          "LookupTables"
        ],
        "operationId": "V1OrgsLookuptablesByOrgIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "description": "Model for the Lookup Table.",
            "schema": {
              "$ref": "#/definitions/LookupTableModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LookupTableModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/v1/orgs/{orgId}/lookuptables/{tableId}": {
      "get": {
        "description": "Return information about a Lookup Table",
        "summary": "LookupTables_GetLookupTable",
        "tags": [
          "LookupTables"
        ],
        "operationId": "V1OrgsLookuptablesByOrgIdAndTableIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Lookup Table."
          },
          {
            "name": "includeLookupTableValues",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Set to true to return Lookup Table Values. Default value is false."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IHttpActionResult"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "put": {
        "description": "Modify a Lookup Table",
        "summary": "LookupTables_UpdateLookupTable",
        "tags": [
          "LookupTables"
        ],
        "operationId": "V1OrgsLookuptablesByOrgIdAndTableIdPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Lookup Table."
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "description": "Model for the Lookup Table.",
            "schema": {
              "$ref": "#/definitions/LookupTableModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LookupTableModel"
            },
            "examples": {}
          }
        },
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete a Lookup Table",
        "summary": "LookupTables_DeleteLookupTable",
        "tags": [
          "LookupTables"
        ],
        "operationId": "V1OrgsLookuptablesByOrgIdAndTableIdDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "ID of the Organization."
[...]
